.sidebar {
    left: 0;
    width: 60px;
    height: 100%;
    padding-top: 40px;
    position: fixed;
}

.btn-sidebar {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.btn-sidebar:active {
    color:rgb(255, 255, 255)
}

svg {
    fill: white;
    padding: 10px; 
}

.selected-svg {
    
}
