 body {
     padding: 0px;
     margin: 0px;
}
 #title-bar {
     -webkit-app-region: drag;
     height: 40px;
     text-align: center;
     line-height: 40px;
     vertical-align: middle;
     background-color: #181b19;
     padding: none;
     margin: 0px;
     width: 100%;
     overflow: none;
}
 #title {
     top: 0px;
     left: 6px;
     color:white;
}
 #title-bar-btns {
    position: absolute;
     -webkit-app-region: no-drag;
     top: -2px;
     right: 6px;
}
 .title-btn {
    width: 49px;
    height: 29px;
    -webkit-text-stroke: 1.25px;
    padding-top: 2px;
    padding-bottom: 2px;
}