 body {
     padding: 0px;
     margin: 0px;
}
 #title-bar {
     -webkit-app-region: drag;
     height: 40px;
     text-align: center;
     line-height: 40px;
     vertical-align: middle;
     background-color: #181b19;
     padding: none;
     margin: 0px;
}
 #title {
     position: fixed;
     top: 0px;
     left: 6px;
     color:white;
}
 #title-bar-btns {
     -webkit-app-region: no-drag;
     position: fixed;
     top: -2px;
     right: 6px;
}
