#SettingsDivTab {
    width: 98.5%;
    height: 55px;
    margin-top: 13;
}

#SettingsDivTabTitle {
    position: absolute;
    top: -40;
    margin-left: 10;
    font-size: 50;
}

#SettingsDivTabButtonUnsave {
    float: right;
}

#SettingsDivTabButtonSave {
    float: right;
    margin-right: 15px;
}

#SettingsDivStuffBelow {
    height: 80%;
    overflow: auto;
    overflow-x: hidden;
}

#SettingsDBMPathDivText, #SettingsBotPathDivText {
    margin-left: 10;
}

#SettingsDBMPathTextFirst, #SettingsBotPathTextFirst, #SettingsDiscordRPCTextFirst {
    font-size: 30;
}

#SettingsDBMPathTextSecond, #SettingsBotPathTextSecond, #SettingsDiscordRPCTextSecond {
    opacity: .5;
}

#SettingsDBMPathDivFunctions, #SettingsBotPathDivFunctions {
    width: 100%;
    height: 35px;
}

#SettingsDBMPath, #SettingsBotPath {
    background-color: #181818;
    border: none;
    outline: none;
    height: 35px;
    width: 75%;
    font-size: 20;
    margin: 10;
}

#SettingsNotSecretBrowser1, #SettingsNotSecretBrowser2 {
    height: 35px;
    line-height: 35px;
    position: relative;
    top: -2;
}

#SettingsDiscordRPCDiv {
    height: 65px;
    margin-left: 10;
    margin-right: 10;
}

#SettingsDiscordRPCDivSwitch {
    height: 65px;
    width: 70;
    position: relative;
    left: 0;
    top: 5;
}

#SettingsDiscordRPCDivText {
    height: 65px;
    width: 90%;
    position: relative;
    left: 110px;
    top: -62px;
}