<div id="SettingsDivTab">
    <p id="SettingsDivTabTitle">
        <b>Settings</b>
    </p>
    <button class="Dbutton" id="SettingsDivTabButtonUnsave" onclick="SettingsUnsaveClick()">
        Unsave
    </button>
    <button class="Dbutton" id="SettingsDivTabButtonSave" onclick="SettingsSaveClick()">
        Save
    </button>
</div>
<hr class="HRFirst">
<br>
<!--<div class="StuffBelowScroll">-->
    <div id="SettingsDBMPathDiv">
        <div id="SettingsDBMPathDivText">
            <b>
                <span id="SettingsDBMPathTextFirst">
                    DBM Path
                </span>
            </b>
            <br>
            <span id="SettingsDBMPathTextSecond">Insert here your Discord Bot Maker folder directory</span> <b><span class="SpanREQUIRED">(REQUIRED)</span></b>
        </div>
        <div id="SettingsDBMPathDivFunctions">
            <input type="text" id="SettingsDBMPath">
            <button class="Dbutton" id="SettingsDBMPathBrowser" onclick="SettingsOpenBrowserClick($('#SettingsDBMPath'))">
                Browse
            </button>
        </div>
        <br><br>
    </div>
    <div>
        <div id="SettingsBotPathDivText">
            <b>
                <span id="SettingsBotPathTextFirst">
                    Bot Path
                </span>
            </b>
            <br>
            <span id="SettingsBotPathTextSecond">Insert here your Bot folder directory</span> <b><span class="SpanREQUIRED">(REQUIRED)</span></b>
        </div>
        <div id="SettingsBotPathDivFunctions">
            <input type="text" id="SettingsBotPath">
            <button class="Dbutton" id="SettingsBotPathBrowser" onclick="SettingsOpenBrowserClick($('#SettingsBotPath'))">
                Browse
            </button>
        </div>
    </div>
    <br><br>
    <hr class="HRSecond">
    <br>
    <div id="SettingsDiscordRPCDiv">
        <div id="SettingsDiscordRPCDivSwitch">
            <label class="switch">
                <input id="SettingsDiscordRPC" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div id="SettingsDiscordRPCDivText">
            <b>
                <span id="SettingsDiscordRPCTextFirst">
                    Discord RPC
                </span>
            </b>
            <br>
            <span id="SettingsDiscordRPCTextSecond">Shows a cool Rich Presence in your Discord Profile</span> <b><span class="SpanNEEDSRESTART">(NEEDS RESTART)</span></b>
        </div>
    </div>
<!--</div>-->

<script src="../settings/settings.js"></script>