<div class="seeLimits" style="width: 98.5%; height: 55px; margin-top: 13;">
    <p style="position: absolute; top:-40; margin-left: 10; font-size:50;">
        <b>Settings</b>
    </p>
    <button class="Dbutton" style="position: absolute; right: 20" onclick="SettingsUnsaveClick()">
        Unsave
    </button>
    <button class="Dbutton" style="position: absolute; right: 170" onclick="SettingsSaveClick()">
        Save
    </button>
</div>
<hr style="opacity: .1;">
<br>
<div>
    <div style="margin-left: 10;">
        <span>
            <b style="font-size: 30">DBM Path</b><br>
            <span style="opacity: .5">Insert here your Discord Bot Maker directory</span> <b><span style="color: red; opacity: 1;">(REQUIRED)</span></b>
        </span>
    </div>
    <div style="width: 100%; height: 35px;">
        <input type="text" id="SettingsDBMPath" style="background-color: #181818; border: none; outline: none; height: 35px; width: 75%; font-size: 20; margin: 10;">
        <button class="Dbutton" id="SettingsNotSecretBrowser" style="height: 35px; line-height: 35px; position: relative; top: -2;">Browse</button>
        <input type="file" webkitdirectory style="display: none" id="SettingsSecretBrowser" onchange="onFileChange()">
    </div>
</div>
<br>
<hr style="opacity: .1;">
<br>
<div class="seeLimitssss" style="height: 65px; margin-left: 10; margin-right: 10;">
    <div class="seeLimitssss" style="height: 65px; width: 70; position: relative; left: 0; top: 5">
    <label class="switch">
        <input id="SettingsDiscordRPC" type="checkbox">
        <span class="slider round"></span>
    </label>
    </div>
    <div class="seeLimitssss" style="height: 65px; width: 90%; position: relative; left: 110px; top: -62px;">
    <span>
        <b style="font-size: 30">Discord RPC</b><br>
        <span style="opacity: .5">
            Shows a cool Rich Presence in your Discord Profile <b>(NEEDS RESTART)</b>
        </span>
    </span>
    </div>
</div>

<script>
var $ = require('jquery');
var fs = require('fs');
var obj = JSON.parse(fs.readFileSync('./data/data.json', 'utf8'));

// Define the values
$('#SettingsDBMPath').val(obj.DBM_Path);
$('#SettingsDiscordRPC').prop('checked', obj.Discord_RPC);
//------------------

function SettingsSaveClick() {
    obj.DBM_Path = $('#SettingsDBMPath').val();
    obj.Discord_RPC = $('#SettingsDiscordRPC').prop('checked');
    fs.writeFileSync('./data/data.json', JSON.stringify(obj));
}

function SettingsUnsaveClick() {
    $('#SettingsDBMPath').val(obj.DBM_Path);
    $('#SettingsDiscordRPC').prop('checked', obj.Discord_RPC);
}

// Browser Button
document.getElementById('SettingsNotSecretBrowser').addEventListener('click', _ => {
    document.getElementById('SettingsSecretBrowser').click()
})
function onFileChange() {
    document.getElementById("SettingsDBMPath").value = document.getElementById("SettingsSecretBrowser").files[0].path;
}
//---------------
</script>

<style>
.seeLimitssssd {
    border-style: solid;
    border-width: 5px;
    border-color: green;
}
</style>

<link rel="stylesheet" type="text/css" href="./settings/toggle-switch.css">