<div id="SettingsDivTab">
    <p id="SettingsDivTabTitle">
        <b>Settings</b>
    </p>
    <button class="Dbutton" id="SettingsDivTabButtonUnsave" onclick="SettingsUnsaveClick()">
        Unsave
    </button>
    <button class="Dbutton" id="SettingsDivTabButtonSave" onclick="SettingsSaveClick()">
        Save
    </button>
</div>
<hr class="HRFirst">
<br>
<div class="StuffBelowScroll">
    <div id="SettingsDBMPathDiv">
        <div id="SettingsDBMPathDivText">
            <b>
                <span id="SettingsDBMPathTextFirst">
                    DBM Path
                </span>
            </b>
            <br>
            <span id="SettingsDBMPathTextSecond">Insert here your Discord Bot Maker folder directory</span> <b><span class="SpanREQUIRED">(REQUIRED)</span></b>
        </div>
        <div id="SettingsDBMPathDivFunctions">
            <input type="text" id="SettingsDBMPath">
            <button class="Dbutton" id="SettingsNotSecretBrowser1">Browse</button>
            <input type="file" webkitdirectory style="display: none" id="SettingsSecretBrowser1" onchange="onFileChange1()">
        </div>
        <br><br>
    </div>
    <div>
        <div id="SettingsBotPathDivText">
            <b>
                <span id="SettingsBotPathTextFirst">
                    Bot Path
                </span>
            </b>
            <br>
            <span id="SettingsBotPathTextSecond">Insert here your Bot folder directory</span> <b><span class="SpanREQUIRED">(REQUIRED)</span></b>
        </div>
        <div id="SettingsBotPathDivFunctions">
            <input type="text" id="SettingsBotPath">
            <button class="Dbutton" id="SettingsNotSecretBrowser2">Browse</button>
            <input type="file" webkitdirectory style="display: none" id="SettingsSecretBrowser2" onchange="onFileChange2()">
        </div>
    </div>
    <br><br>
    <hr class="HRSecond">
    <br>
    <div id="SettingsDiscordRPCDiv">
        <div id="SettingsDiscordRPCDivSwitch">
            <label class="switch">
                <input id="SettingsDiscordRPC" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div id="SettingsDiscordRPCDivText">
            <b>
                <span id="SettingsDiscordRPCTextFirst">
                    Discord RPC
                </span>
            </b>
            <br>
            <span id="SettingsDiscordRPCTextSecond">Shows a cool Rich Presence in your Discord Profile</span> <b><span class="SpanNEEDSRESTART">(NEEDS RESTART)</span></b>
        </div>
    </div>
    <!--<br>
    <hr style="opacity: .1;">
    <br>
    <div>
        <div style="margin-left: 10;">
            <b>
                <span id="translationlanguage" style="font-size: 30">
                    Language
                </span>
            </b>
            <br>
            <span style="opacity: .5">Select your Language</span>
        </div>
        <div style="width: 100%; height: 35px;">
            <select class="Dbutton" id="SettingsLanguageSelect" style="background-color: #181818; height: 35px; width: 75%; font-size: 20; margin: 10;">
                <option value="english" selected>English</option>
                <option value="portugues">Português</option>
                <option value="espanol">Español</option>
                <option value="francais">Français</option>
                <option value="italiano">Italiano</option>
                <option value="deutsch">Deutsch</option>
                <option value="turk">Türk</option>
            </select>
        </div>
    </div>
    <br><br>-->
</div>

<script src="../settings/settings.js"></script>