<p>
    <span style="font-size: 50px;">Changelog - 1.0.0</span><br>
    <span style="font-size: 15px; opacity: .5;">06/03/2019</span><br>
    <br>
    <span style="font-size: 30px;">New ✨</span><br>
    
    <li>Added new design. Do you like it?</li>
    <li>Added Mods tab to manage your mods. Simple and ez</li>
    <li>Added Settings to setting the settings.. :pokerface:</li>
    <li>Now the logo spins... WTF?! FIDGET SPINNER IN 2019!?!?!?</li>
    <br>
    <span style="font-size: 30px;">Fixed 💣</span><br>
    <br>
    <span style="text-decoration: line-through;">nothing HAHAAHAHAHAHHAAHAHH... sorry, my bad</span>
</p>
    
<style>
    * {
        font-family: Arial;
        color: white;
    }

    body {
        background-color: #23272d;
    }
</style>