<div id="ChangelogDivTab">
    <p id="ChangelogDivTabTitle">
        <b>Changelog</b>
    </p>
</div>
<hr class="HRFirst">
<br>
<div class="StuffBelowScroll" id="ChangelogStuffBelow">
    <div> <!-- 1.1.0 -->
        <span class="ChangelogVersion">1.1.0</span><br>
        <span class="ChangelogReleaseDate">02/04/2019</span><br>
        <br>
        <span class="ChangelogNew">New 🎉</span><br>
        <button class="ChangelogDiv">
            Added your Discord Info in Sidebar! <span class="ChangelogNote">Suggestion: Raff Ty#0001</span><br>
            Now Consoles ping you when a new message is shown on them <span class="ChangelogNote">Suggestion: Raff Ty#0001</span><br>
            Mods Tab:<br>
            <p class="ChangelogSubInfo">
                Added Installation Location <span class="ChangelogNote">Suggestion: Danno3817#8263</span><br>
                Added a list of your Mods to manage them
            </p>
            Added Data Files tab to manage your Commands and Events:<br>
            <p class="ChangelogSubInfo">
                Added a list of your Commands/Events to manage them
            </p>
        </button>
        <br><br>
        <span class="ChangelogFixed">Fixed 📌</span><br>
        <button class="ChangelogDiv">
            Fixed the error on start of the App about Data folder and Backups folder [PART 2]<br>
            Fixed the adjustment of the elements to the corners of the app<br>
            Fixed the adjustment of the rotating Logo in Sidebar
        </button>
    </div>
    <br>
    <hr class="HRSecond">
    <br>
    <div> <!-- 1.0.0 -->
        <span class="ChangelogVersion">1.0.0</span><br>
        <span class="ChangelogReleaseDate">16/03/2019</span><br>
        <br>
        <span class="ChangelogNew">New 🎉</span><br>
        <button class="ChangelogDiv">
            New Design<br>
            Added Mod tab to manage your Mods:<br>
            <p class="ChangelogSubInfo">
                Added Install/Uninstall Mods<br>
                Added Mods Version selector<br>
                Added a switch to enable/disable Alternative Mods
            </p>
            Added Bot tab to start and manage your Bot:<br>
            <p class="ChangelogSubInfo">
                Added Start button to start your Bot in an external Terminal<br>
                Added Copy DBM Actions Folder<br>
                Added Backup Data Folder <span class="ChangelogNote">Suggestion: Danno3817#8263</span>
            </p>
            Added Settings tab to setting some App Settings:<br>
            <p class="ChangelogSubInfo">
                Added a switch to enable/disable Discord RPC
            </p>
        </button>
        <br><br>
        <span class="ChangelogFixed">Fixed 📌</span><br>
        <button class="ChangelogDiv">
            Fixed the error on start of the App about Data folder and Backups folder [PART 1]<br>
            Fixed Main Window centered<br>
            Fixed DBM stuff wasn't hide in Linux<br>
            Fixed Start and Open Backups Folder buttons not working in Linux
        </button>
    </div><br>
</div>

<script src="../changelog/changelog.js"></script>