<div class="seeLimits" style="width: 98.5%; height: 55px; margin-top: 13;">
    <p style="position: absolute; top:-40; margin-left: 10; font-size:50;">
        <b>Changelog</b>
    </p>
</div>
<hr style="opacity: .3;">
<br>
<div style="height: 78%; overflow: auto; overflow-x: hidden;">
    <div> <!-- 1.0.0 -->
        <span style="font-size: 50px;">1.0.0</span><br>
        <span style="font-size: 15px; opacity: .5; margin-left: 5;">16/03/2019</span><br>
        <br>
        <span style="font-size: 30px; margin-left: 5;">New 🎉</span><br>
        <button style="border: none; outline:0; padding: 10; line-height: 20px; background-color: #191919; text-align: left; font-size: 15; border-radius: 20px; border: 5px solid #141414;">
        New Design<br>
        Added Mod tab to manage your Mods<br>
        <p style="padding-left: 20px; margin-top: 0; margin-bottom: 0; opacity: .8;">
            Added Install/Uninstall Mods<br>
            Added Mods Version selector<br>
            Added a switch to enable/disable Alternative Mods
        </p>
        Added Bot tab to start and manage your Bot<br>
        <p style="padding-left: 20px; margin-top: 0; margin-bottom: 0; opacity: .8;">
            Added Start button to start your Bot in an external Terminal<br>
            Added Copy DBM Actions Folder<br>
            Added Backup Data Folder<br>
        </p>
        Added Settings tab to setting some App Settings<br>
        <p style="padding-left: 20px; margin-top: 0; margin-bottom: 0; opacity: .8;">
            Added a switch to enable/disable Discord RPC
        </p>
        </button>
        <!--<br><br>
        <span style="font-size: 30px; margin-left: 5;">Fixed 📌</span><br>
        <button style="border: none; outline:0; padding: 10; line-height: 20px; background-color: #191919; text-align: left; font-size: 15; border-radius: 20px; border: 5px solid #141414;">
        Insert here a cool description
        </button>-->
    </div>
</div>