<div class="mode-page" id="home-mode" name="Home">
	<h1 class="text-center" style="padding-top:15px;">Latest Information</h1>
	<hr>
	<h2>Updates</h2>
	<div class="custom-container">
		<h4>Version <text id="app_version"></text></h4>
		<ul id="app_info">	
		</ul>
	</div>
	<h2>Mods</h2>
	<div class="custom-container">
		<h4>Version <text id="mods_version"></text></h4>
		<ul id="mods_info">	
		</ul>
	</div>
	<h2>Themes</h2>
	<div class="custom-container">
		<h4>Version <text id="themes_version"></text></h4>
		<ul  id="themes_info">	
		</ul>
	</div>
</div>
<style>

</style>
<script>

</script>