<div class="mode-page" id="home-mode" name="Home">
	<h1 class="text-center" style="padding-top:15px;">Latest Information</h1>
	<hr>
	<h2>Updates</h2>
	<div class="custom-container">
		<h4 >Version X</h4>
		<ul>
			<li>Test Item 1</li>
			<li>Test Item 2</li>
			<li>Test Item 3</li>		
			<li>Test Item 4</li>		
			<li>Test Item 5</li>		
			<li>Test Item 6</li>		
			<li>Test Item 7</li>		
			<li>Test Item 8</li>		
			<li>Test Item 9</li>
			<li>Test Item 10</li>		
		</ul>
	</div>
	<h2>Mods</h2>
	<div class="custom-container">
		<h4>Version Y</h4>
		<ul>
			<li>Test Item 1</li>
			<li>Test Item 2</li>
			<li>Test Item 3</li>		
			<li>Test Item 4</li>		
			<li>Test Item 5</li>		
			<li>Test Item 6</li>		
			<li>Test Item 7</li>		
			<li>Test Item 8</li>		
			<li>Test Item 9</li>
			<li>Test Item 10</li>		
		</ul>
	</div>
	<h2>Themes</h2>
	<div class="custom-container">
		<h4>Version Z</h4>
		<ul>
			<li>Test Item 1</li>
			<li>Test Item 2</li>
			<li>Test Item 3</li>		
			<li>Test Item 4</li>		
			<li>Test Item 5</li>		
			<li>Test Item 6</li>		
			<li>Test Item 7</li>		
			<li>Test Item 8</li>		
			<li>Test Item 9</li>
			<li>Test Item 10</li>		
		</ul>
	</div>
</div>
<style>

</style>
<script>

</script>