<div class="mode-page" id="settings-mode" name="Settings">
  <div class="row ">
    <div class="col-3 right-col">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="global-settings-page" data-toggle="pill" href="#global-settings" role="tab" aria-controls="global-settings" aria-selected="true">Global Config</a>
        <a class="nav-link" id="mods-settings-page" data-toggle="pill" href="#mods-settings" role="tab" aria-controls="mods-settings" aria-selected="false">Mods Config</a>
        <a class="nav-link" id="datafile-settings-page" data-toggle="pill" href="#datafile-settings" role="tab" aria-controls="datafile-settings" aria-selected="false">Data File Settings</a>
        <a class="nav-link" id="theme-settings-page" data-toggle="pill" href="#theme-settings" role="tab" aria-controls="theme-settings" aria-selected="false">Theme Settings</a>
        <a class="nav-link" id="online-settings-page" data-toggle="pill" href="#online-settings" role="tab" aria-controls="online-settings" aria-selected="false">Online Settings</a>
      </div>
    </div>
    <div class="col right-col">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="global-settings" role="tabpanel" aria-labelledby="global-settings-page">
          <div class="alert alert-primary text-center " role="alert">
            Global Settings
          </div>     
          <div class="form-group">
            <label for="exampleFormControlInput1">Discord Bot Maker Install Path</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
        </div>
        <div class="tab-pane fade" id="mods-settings" role="tabpanel" aria-labelledby="mods-settings-page">
          <div class="alert alert-primary text-center" role="alert">
            Mods Settings
          </div>   

        </div>
        <div class="tab-pane fade" id="datafile-settings" role="tabpanel" aria-labelledby="datafile-settings-page">
          <div class="alert alert-primary text-center" role="alert">
            Data File Settings
          </div>   

        </div>
        <div class="tab-pane fade" id="theme-settings" role="tabpanel" aria-labelledby="theme-settings-page">
          <div class="alert alert-primary text-center" role="alert">
            Theme Settings
          </div>   
          
        </div>
        <div class="tab-pane fade" id="online-settings" role="tabpanel" aria-labelledby="online-settings-page">
          <div class="alert alert-primary text-center" role="alert">
            Online Settings
          </div>   

        </div>
      </div>
      <div class="float-right" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Cancel</button>
        <button type="button" class="btn btn-secondary">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<script>

</script>