<!DOCTYPE html>
<html lang="en" style="overflow:hidden;">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DBM Mod Manager</title>
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/styles.css">
    </head>

    <body>    
        <% include main/titlebar.ejs %>     
        <% include main/navbar.ejs %>   

        <table class="table table-hover" >
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Section</th>
                    <th scope="col">Author</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody id="mods"></tbody>
        </table>
    </body>
	<script src="../renderer.js"></script>
    <script src="../js/titlebar.js"></script>
    <script src="../js/scripts.js"></script>
</html>