<!DOCTYPE html>
<html lang="en" style="overflow:hidden;">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>DBM Network Client</title>

      <link rel="stylesheet" href="../css/bootstrap.css">
      <link rel="stylesheet" href="../css/styles.css">
      <link rel="stylesheet" type="text/css" href="../lib/datatables/datatables.min.css"/>
   </head>
   <body>
      <div >
         <% include main/titlebar.ejs %>       
         <div class="row" id="mainrow">
            <% include main/sidebar.ejs %>    
            <% include main/modstable.ejs %>              
         </div>
      </div>
   </body>
   
   <script src="../renderer.js"></script>
   <script src="../js/titlebar.js"></script>
   <script src="../js/scripts.js"></script>
   <script type="text/javascript" src="../lib/datatables/datatables.min.js"></script>
   <script src="../js/modstable.js"></script>
</html>