<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DBM Mod Manager</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>    
    <% include main/titlebar.ejs %>       
    <div class="row">
        <% include main/sidebar.ejs %>

        <!-- Think of this as the page's actual body -->
        <div class="col displayarea">

            <div id="modlist" >
                <h4 class="text-center mt-0 mb-0 bg-success pt-2 pb-2">Mods</h4>
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Section</th>
                            <th scope="col">Author</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                </table>
                <div class="wrexdiv" style="overflow-y: scroll;">
                    <table class="table table-hover" >
                        <tbody id="mods" ></tbody>
                    </table>
                </div>
            </div>

            <div id="settings" hidden>
                <h4 class="text-center mt-0 mb-0 bg-success pt-2 pb-2">Settings</h4>
                <div class="wrexdiv" style="overflow-y: scroll;"></div>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                    <h1>stuff</h1><br><br>
                </div>
            </div>
            
        </div>

    </div>
</body>
<script src="../renderer.js"></script>
<script src="../js/titlebar.js"></script>
<script src="../js/scripts.js"></script>
<script>
    $(".wrexdiv").height($(this).height()-105)

    $( window ).resize(function() {
        $(".wrexdiv").height($(this).height()-105)
    });
</script>
</html>