<nav>
      <div class="sidebar bg-primary justify-content-center" id="sidebar">
            <div class="row icon-container-row">
                  <div class="mode col icon-container-col btn-primary active" name="home-mode">
                        <span class="oi oi-home icon"></span>
                        <p class="ml-3 small">Home</p>
                  </div>
            </div>
            <div class="row icon-container-row">
                  <div class="mode col icon-container-col btn-primary" name="mods-mode">
                        <span class="oi oi-wrench icon"></span>
                        <p class="ml-3 small">Mods</p>
                  </div>
            </div>
            <div class="row icon-container-row">
                  <div class="col mode icon-container-col btn-primary" name="data-mode">
                        <span class="oi oi-file icon"></span>
                        <p class="ml-3 small">Data Files</p>
                  </div>
            </div>
            <div class="row icon-container-row">
                  <div class="col mode icon-container-col btn-primary" name="themes-mode">
                        <span class="oi oi-pencil icon"></span>
                        <p class="ml-2 small">Themes</p></p>
                  </div>
            </div>
            <div class="row icon-container-row">
                  <div class="col mode icon-container-col btn-primary" name="settings-mode">
                        <span class="oi oi-cog icon"></span>
                        <p class="ml-2 small">Settings</p>
                  </div>
            </div>
      </div>
</nav>