<nav>
	<div class="sidebar bg-primary justify-content-center" id="sidebar">
		<div class="row icon-container-row">
			<div class="mode col icon-container-col slider" 
				data-placement="right" data-toggle="tooltip" title="Home" 
				name="home-mode">
				<span class="fa fa-home icon"></span>
				<p class="small slider" style="margin-left: 14px">Home</p>
			</div>
		</div>
		<div class="row icon-container-row">
			<div class="mode col icon-container-col slider" 
				data-placement="right" data-toggle="tooltip" 
				title="Mods Manager" name="mods-mode">
				<span class="fa fa-wrench icon"></span>
				<p class="small hover-slide" style="margin-left: 16px">Mods</p>
			</div>
		</div>
		<div class="row icon-container-row">
			<div class="col mode icon-container-col slider"
				data-placement="right" data-toggle="tooltip" 
				title="Data File Manager" name="data-mode">
				<span class="far fa-file icon"></span>
				<p class="ml-3 small hover-slide">Data Files</p>
			</div>
		</div>
		<div class="row icon-container-row">
			<div class="col mode icon-container-col slider" 	
				data-placement="right" data-toggle="tooltip" 
				title="Manage Themes" name="themes-mode">
				<span class="fa fa-pencil-alt icon"></span>
				<p class="ml-2 small ">Themes</p>
				</p>
			</div>
		</div>
		<div class="row icon-container-row">
			<div class="col mode icon-container-col slider" 
				data-placement="right" data-toggle="tooltip" 
				title="App Settings" name="settings-mode">
				<span class="fa fa-cog icon"></span>
				<p class="ml-2 small">Settings</p>
			</div>
		</div>
		<div class="row icon-container-row">
			<div class="mode col icon-container-col slider" 
				data-placement="right" data-toggle="tooltip" 
				title="Online Services" name="online-mode">
				<span class="fa fa-wifi icon"></span>
				<p class="small" style="margin-left: 12px">Online</p>
			</div>
		</div>
	</div>
</nav>
<script>
	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();
	});

	const slide_speed = 275;


	$('.slider').each(function (i, obj) {
		if (!$(this).hasClass('active')) {
			$(this).find('p').slideUp(slide_speed, () => {
				$(this).data('slid', false);
			});
		} else {
			$(this).data('slid', true);
		}
	});

	$('.slider').click(function (func) {

		if (!$(this).data('slid')) {
			$(this).find('p').slideDown(slide_speed);
			$(this).data('slid', [true, 1]);
		}

		$('.slider').each(function (i, obj) {
			if ($(this).hasClass('active')) {
				$(this).find('p').slideUp(slide_speed, () => {
					$(this).data('slid', false);
					if ($(this).hasClass('active')) {
						$(this).find('p').slideDown(slide_speed), () => {
							$(this).data('slid', true);
						}
					}
				});
			}
		});
	});
</script>