<!DOCTYPE html>
<html lang="en" style="overflow:hidden;">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Splash Screen</title>
      <link rel="stylesheet" href="../css/bootstrap.css">
      <link rel="stylesheet" href="../css/styles.css">
	 </head>
	 <script src="../renderer.js"></script>
	 <body class="dragable body">
			<div class="header">
				<h4>DBM Network Client</h4>
			</div>
			<div class="icon">
				<img src="../img/dbm-logo-interation4-nobg.png" draggable="false">
			</div>
			<div class="footer">
				<b>Made by:</b><br>General Wrex SeikiMatt<br> Danno3817
			</div>
			
   </body>
</html>