<!DOCTYPE html>
<html lang="en" style="overflow:hidden;">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Splash Screen</title>
      <link rel="stylesheet" href="../css/bootstrap.css">
      <link rel="stylesheet" href="../css/styles.css">
	  <style>
			body { 
				background-color: transparent;
			}
	  </style>
   </head>
	 <body>
			<div >
				<img src="../img/splash-icon.png" />
			</div>		
   </body>
   <script src="../renderer.js"></script>
</html>