

<div class="row" id="title-bar">
    <div class="text-left"><img class="mr-2 ml-2 mb-1" src="../img/icon.png" width="30" height="30" alt="">DBM Network Client  -  <text id="mode">Home</text></div>
    <div id="title-bar-btns">       
        <button class="btn btn-outline-primary btn-sm title-btn" id="min-btn">&#x1f5d5;</button>
        <button class="btn btn-outline-primary btn-sm title-btn" id="max-btn" onclick="updateIcon(this)">&#x1f5d6;</button>
        <button class="btn btn-outline-danger btn-sm title-btn" id="close-btn">&#x2715;</button>
    </div>
</div>
<script>
    function updateIcon(btn){
        if(!window.screenTop && !window.screenY){
            btn.innerHTML = "&#x1f5d6;";
        }
        else {
            btn.innerHTML = "&#128471;";
        }
    }
</script>