

<div class="fixed-top row" id="title-bar">
    <div class="text-left"><img class="mr-2 ml-2 mb-1" src="../img/icon.png" width="30" height="30" alt="">DBM Network Client  -  <text id="mode">Home</text></div>
    <div id="title-bar-btns">       
        <button class="btn btn-outline-primary btn-sm title-btn" id="min-btn">&#x1f5d5;</button>
        <button class="btn btn-outline-primary btn-sm title-btn" id="max-btn" onclick="updateIcon(this)">&#x1f5d6;</button>
        <button class="btn btn-outline-danger btn-sm title-btn" id="close-btn">&#x2715;</button>
    </div>
</div>
<style>
    #title-bar {
        -webkit-app-region: drag;
        height: 40px;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        background-color: #181b19;
        padding: none;
        margin: 0px;
        width: 100%;
    }

    #title {
        top: 0px;
        left: 6px;
        color:white;
        text-align: center;
    }

    #title-bar-btns {
        position: absolute;
        -webkit-app-region: no-drag;
        top: -2px;
        right: 6px;
    }

    .title-btn {
        width: 49px;
        height: 29px;
        -webkit-text-stroke: 1.25px;
        padding-top: 2px;
        padding-bottom: 2px;
    }


    .icon-container-row {
        margin: 0px;
        padding-left: 0px;
    }

    .icon-container-col {
        margin: 0px;
        padding-left: 0px;
    }



    svg {
        fill: white;
        padding: 10px; 
    }

    .selected-svg {
        color:rgb(255, 255, 255)
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #888 ; 
    }

    ::-webkit-scrollbar-thumb {
        background: #555; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #f1f1f1;  
    }


    .icon {
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 40px;
        padding: 10px;
    }
</style>
<script>
    function updateIcon(btn){
        if(!window.screenTop && !window.screenY){
            btn.innerHTML = "&#x1f5d6;";
        }
        else {
            btn.innerHTML = "&#128471;";
        }
    }
</script>