<div class="col displayarea" style="overflow: auto;">
    <table id="modstable" class="table table-hover " cellspacing="0">
        <thead >
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Section</th>
                <th scope="col">Author</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody id="mods" >
		</tbody>
    </table>
</div>