<nav>
      <div class="sidebar bg-primary justify-content-center">
      <div class="row icon-container-row">
            <div class="col icon-container-col btn-primary">
                  <span class="oi oi-cog icon"></span>
            </div>
      </div>
      <div class="row icon-container-row">
            <div class="col icon-container-col btn-primary">
                  <span class="oi oi-bolt icon"></span>
            </div>
      </div>
      <div class="row icon-container-row">
            <div class="col icon-container-col btn-primary">
                  <span class="oi oi-bluetooth icon"></span>
            </div>
      </div>
      <div class="row icon-container-row">
            <div class="col icon-container-col btn-primary">
                  <span class="oi oi-hard-drive icon"></span>
            </div>
      </div>
      </div>
</nav>