<div id="title-bar">
    <div id="title">DBM Mod Manager</div>
    <div id="title-bar-btns">
        <button class="btn btn-outline-primary btn-sm title-btn" id="min-btn" >&minus;</button>
        <button class="btn btn-outline-primary btn-sm title-btn" id="max-btn">&plus;</button>
        <button class="btn btn-outline-danger btn-sm title-btn" id="close-btn">&times;</button>
    </div>
</div>
   