<script>
    function updateIcon(){
        if(!window.screenTop && !window.screenY){
            document.getElementById("max-btn").innerHTML = "&#x1f5d6;";
        }
        else {
            document.getElementById("max-btn").innerHTML = "&#128471;";
        }
    }
</script>

<div class="fixed-top" id="title-bar">
    <div id="title">DBM Mod Manager</div>
    <div id="title-bar-btns">
        <button class="btn btn-outline-primary btn-sm title-btn" id="min-btn">&#x1f5d5;</button>
        <button class="btn btn-outline-primary btn-sm title-btn" id="max-btn" onclick="updateIcon()">&#x1f5d6;</button>
        <button class="btn btn-outline-danger btn-sm title-btn" id="close-btn">&#x2715;</button>
    </div>
</div>



