<div class="ConsoleDiv">
    <div class="ConsoleDivTab">
        <span class="ConsoleDivTabTitle">
            Console
        </span>
        <button class="ConsoleDivTabButtonShow Dbutton" onclick="$('#BotConsoleLog').slideToggle(); $(this).html($(this).html() == 'Show' ? 'Hide' : 'Show'); $('#BotConsoleLogNumber').html('')">Show</button>
        <button class="ConsoleDivTabButtonClear Dbutton" onclick="$('#BotConsoleLog').html(''); $('#BotConsoleLogNumber').html('')">Clear</button>
        <span id="BotConsoleLogNumber"></span>
    </div>
    <textarea class="ConsoleLogText" id="BotConsoleLog" readonly></textarea>
</div><br><br>
<div id="BotDivTab">
    <p id="ModsDivTabTitle">
        <b>Bot</b>
    </p>
    <button class="Dbutton Dbutton_BlockStuff" id="BotDivTabButtonStart" onclick="BotStartClick()">
        Start
    </button>
</div>
<hr class="HRFirst">
<br>
<!--<div class="StuffBelowScroll">-->
    <div id="BotDBMCDAFDiv">
        <button class="Dbutton" id="BotDBMCDAFDivButton" onclick="BotCopyActionsClick()">Copy</button>
        <div id="BotDBMCDAFDivText">
            <b>
                <span id="BotDBMCDAFDivTextFirst">
                    Copy DBM Actions Folder
                </span>
            </b>
            <br>
            <span id="BotDBMCDAFDivTextSecond">Copies your DBM Actions Folder and pastes it in your Bot Folder</span>
        </div>
        <br><br><br><br>
        <hr id="BotHRSecond">
        <br>
    </div>
    <div>
        <div id="BotBackupDFDivText">
            <b>
                <span id="BotBackupDFTextFirst">
                    Backup Data Folder
                </span>
            </b>
            <br>
            <span id="BotBackupDFTextSecond">Select the amount of time to backup your Bot Data Folder</span>
        </div>
        <div id="BotBackupDFDivSelect">
            <input type="number" id="BotBackupAmount" min="0" onkeydown="return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))">
            <select class="Dbutton" id="BotBackupSelect" onchange="this.options[this.selectedIndex].value == 1 ? BotBackupAmount.disabled = true : BotBackupAmount.disabled = false">
                <option value="1" selected>Never</option>
                <option value="2">Milliseconds</option>
                <option value="3">Seconds</option>
                <option value="4">Minutes</option>
                <option value="5">Hours</option>
                <option value="6">Days</option>
            </select>
            <button id="BotBackupDFButtonSave" class="Dbutton" onclick="BotBackupSelectOnChange(); BotConsoleLog(`${new Date().toTimeString().slice(0,8)} - Backups set to: ${$('#BotBackupSelect').val() == 1 ? $('#BotBackupSelect option:selected').text() : $('#BotBackupAmount').val() + ' ' + $('#BotBackupSelect option:selected').text()}\n`);">Save</button>
            <br>
            <button id="BotBackupDFButtonOpenBF" class="Dbutton" onclick='process.platform === "win32" ? exec(`start "" "${BackupsPath}"`) : exec(`nautilus ${BackupsPath}`)'>Open Backups Folder</button>
        </div>
    </div>
<!--</div>-->

<script src="../bot/bot.js"></script>