<link rel="stylesheet" type="text/css" href="../lib/datatables/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="../modes/mods/mods.css"/>
    
	
<table id="modstable" class="table table-hover " cellspacing="0">
    <thead >
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Section</th>
             <th scope="col">Author</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody id="mods" >
    </tbody>
</table>
<script type="text/javascript" src="../lib/datatables/datatables.min.js"></script>
<script type="text/javascript" src="../modes/mods/mods.js"></script>
<script type="text/javascript" src="../modes/mods/mods_datatable.js"></script>
    

