<div class="mode-page" id="mods-mode" name="Mods Management">
    <table id="modstable" class="table table-hover " cellspacing="0">
        <thead >
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Section</th>
                <th scope="col">Author</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody id="mods" >
        </tbody>
    </table>
</div>
<style>
    .search {
        float: left;
        label: "hi";
    }

    tr.row_selected td{
        background-color:#8b8b8b !important;
        color:rgb(229, 226, 226)	
    }
</style>
