<div class="mode-page" id="mods-mode" name="Mods Management">
	<table>
		<tbody>
			<% var psize = 10;
        for (i = 0; i < psize; i++) { %>
			<% include partial-mods %>
			<% } %>
		</tbody>
	</table>
</div>

<script>
	/* function append() {
  	var btn = document.createElement("DIV");
    var t = document.createTextNode("CLICK ME");
    btn.appendChild(t);
    document.querySelector("#mods-mode").appendChild(btn);
  } */
</script>