<script src="menu.js"></script>

<link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">

<div style="position: fixed; top: 0; left: 0; height: 100%;"> <!-- Sidebar Stuff -->
    <% include ../../menu/sidebar/sidebar %>
</div>

<div id="MenuAllWindows" style="margin-left: 250px;">
    <div id="ModsWindow"> <!-- Mods Stuff -->
    <% include ../../menu/mods/mods %>
    </div>
    <div id="BotWindow"> <!-- Bot Stuff -->
        <% include ../../menu/bot/bot %>
    </div>
    <div id="DataFilesWindow"> <!-- Data Files Stuff -->
        <% include ../../menu/datafiles/datafiles %>
    </div>
    <div id="ChangelogWindow"> <!-- Changelog Stuff -->
        <% include ../../menu/changelog/changelog %>
    </div>
    <div id="SettingsWindow"> <!-- Settings Stuff -->
        <% include ../../menu/settings/settings %>
    </div>
</div>

<!------------------------All CSS Files------------------------>
<link rel="stylesheet" type="text/css" href="../bot/bot.css">
<link rel="stylesheet" type="text/css" href="../changelog/changelog.css">
<link rel="stylesheet" type="text/css" href="../datafiles/datafiles.css">
<link rel="stylesheet" type="text/css" href="menu.css">
<link rel="stylesheet" type="text/css" href="../mods/mods.css">
<link rel="stylesheet" type="text/css" href="../settings/settings.css">
<link rel="stylesheet" type="text/css" href="../settings/toggle-switch.css">
<link rel="stylesheet" type="text/css" href="../sidebar/sidebar.css">
<link rel="stylesheet" type="text/css" href="../class.css">
<!------------------------------------------------------------->

<script>
$('#BotWindow').hide();
$('#DataFilesWindow').hide();
$('#SettingsWindow').hide();
$('#ChangelogWindow').hide();

$('#ModsConsoleLog').hide();
$('#BotConsoleLog').hide();


//---------------------------------------------------------------------//
// Check OS
//
// Check if OS is Windows. If it's false, hides some features 
// about DBM... DBM only supports Windows lol.
//---------------------------------------------------------------------//

if(process.platform !== "win32") {
    $('#SettingsDBMPathDiv').hide(); // Removes DBM Path on Settings tab
    $('#BotDBMCDAFDiv').hide(); // Removes Copy DBM Actions Folder on Bot tab
    $("#ModsInstallationLocSelect option[value=1]").prop('disabled', true); // Disables the option DBM Folder on Settings tab
    $("#ModsInstallationLocSelect option[value=2]").prop('selected', true); // Selects the option Bot Folder on Settings tab
    ModsInstallationLocChange($("#ModsInstallationLocSelect")); // Fixes the current selected option on Settings tab
}

</script>
<!--<script src="./translation.js"></script>-->