.buttonBlocked {
    cursor: not-allowed;
}

#ModsDivTab {
    width: 98.5%;
    height: 55px;
    margin-top: 13;
}

#ModsDivTabTitle {
    position: absolute;
    top:-4px;
    margin-left: 10;
    font-size:50;
}

#ModsDivTabButtonUninstall {
    float: right;
}

#ModsDivTabButtonInstall {
    float: right; margin-right: 15px;
}

#ModsBranchSelect {
    float: right; margin-right: 15px; height: 52px; text-align-last:center; outline:0px; border: none;
}

#ModsAltModsDiv {
    height: 65px;
    margin-left: 10;
    margin-right: 10;
}

#ModsAltModsDivSwitch {
    height: 65px;
    width: 70;
    position: relative;
    left: 0;
    top: 5;
}

#ModsAltModsDivText {
    height: 65px;
    width: 90%;
    position: relative;
    left: 110px;
    top: -62px;
}

#ModsAltModsTextFirst {
    font-size: 30;
}

#ModsAltModsTextSecond {
    opacity: .5;
}