<div class="seeLimits" style="width: 98.5%; height: 55px; margin-top: 13;">
    <p style="position: absolute; top:-40; margin-left: 10; font-size:50;">
        <b>Mods</b>
    </p>
    <button class="Dbutton Dbutton_BlockStuff" style="position: absolute; right: 20" onclick="ModsUninstallClick()">
        Uninstall
    </button>
    <button class="Dbutton Dbutton_BlockStuff" style="position: absolute; right: 170" onclick="ModsInstallClick()">
        Install
    </button>
    <select class="Dbutton Dbutton_BlockStuff" id="ModsBranchSelect" style="position: absolute; right: 320; text-align-last:center; outline:0px; border: none;">
        <option value="master" selected>Master</option>
        <option value="beta">Beta</option>
    </select>
</div>
<hr style="opacity: .1;">
<br>
<div class="seeLimitsss" style="height: 255px;">
    <div class="seeLimitsss" style="height: 35px; background-color: #111111;">
        <span style="font-size: 25; position: relative; left: 7; vertical-align: middle; line-height: 35px;">
            Console
        </span>
    </div>
    <div class="seeLimitsss" style="height: 220px; background-color: black; overflow: auto; user-select: text;">
        <span style="font-family: Courier New, monospace; user-select: text; color: #c0c0c0;" id="ModsConsoleLog">
        </span>
    </div>
</div>

<script>
var fs = require('fs');
var path = require('path');
var obj = JSON.parse(fs.readFileSync('./data/data.json', 'utf8'));

function ModsInstallClick() {
    const repo = require('github-download-parts');

    const e = document.getElementById("ModsBranchSelect");
    const branch = e.options[e.selectedIndex].value;

    const start = new Date();
    $('#ModsConsoleLog').append(`${new Date().toTimeString().slice(0,8)} - Installing DBM Mods [${$('#ModsBranchSelect option:selected').text()}]...<br>`);
    $('.Dbutton_BlockStuff').prop('disabled', true);

    repo({repo: "Discord-Bot-Maker-Mods/DBM-Mods", branch: branch}, path.join(obj.DBM_Path, "actions"), 'actions')
    .then(() => {
        $('#ModsConsoleLog').append(`${new Date().toTimeString().slice(0,8)} - DBM Mods installed successfully! (${((new Date() - start)*10**-3).toFixed(3)}s)<br>`);
        $('.Dbutton_BlockStuff').prop('disabled', false);
    })
    .catch((err) => {
        $('#ModsConsoleLog').append(`${new Date().toTimeString().slice(0,8)} - ERROR: ${err}<br>`);
        $('.Dbutton_BlockStuff').prop('disabled', false);
    });
}

function ModsUninstallClick() {
    const start = new Date();
    $('#ModsConsoleLog').append(`${new Date().toTimeString().slice(0,8)} - Uninstalling DBM Mods...<br>`);
    $('.Dbutton_BlockStuff').prop('disabled', true);

    var processC1 = 0;
    var processC2 = 0;

    fs.readdirSync(path.join(obj.DBM_Path, "actions")).forEach(function(file, index, arr) {
        if(file.match(/MOD\.js/i)) {
            fs.unlinkSync(path.join(obj.DBM_Path, "actions", file));
            processC2++;
        }
        processC1++;
        if(processC1 === arr.length) {
            $('#ModsConsoleLog').append(`${new Date().toTimeString().slice(0,8)} - ${processC2} ${processC2 === 1 ? 'mod' : 'mods'} uninstalled successfully! (${((new Date() - start)*10**-3).toFixed(3)}s)<br>`);
            $('.Dbutton_BlockStuff').prop('disabled', false);
        }
    });
}
</script>
    
<style>
.Dbutton {
    width: 130px;
    height: 50px;
    border: none;
    outline:0;
    background-color: #444444;
    
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.1s;
}
.Dbutton:hover {
        background-color: #383838;
}
.Dbutton:active {
        background-color: #303030;
}
.Dbutton:disabled, .Dbutton:disabled:hover, .Dbutton:disabled:active {
    cursor: not-allowed;
    background-color: #444444;
    opacity: .5;
}
    
.seeLimitss {
    border-style: solid;
    border-width: 5px;
    border-color: green;
}

.buttonBlocked {
    cursor: not-allowed;
}
    
body {
    background-color: #212121;
    margin-left: 10;
    margin-right: 10;
}

* {
    font-family: Arial;
    color: #f2f2f2;
    user-select: none;
}
</style>