body {
    margin: 0%
}
    
.SlidebarSlideMenu {
    background-color: #32363d;
    width: 250px;
    height: 100%;
}
    
.SlidebarSlideMenu_Button {
    background-color: #41464f;
    width: 100%;
    height: 70px;
    transition: all .2s;
    position: relative;
    top: 10px;
    display:block;
	cursor: pointer;
}
    
.SlidebarSlideMenu_Button:hover {
    background-color: #2c3035;
}
    
.SlidebarSlideMenu_Button:active { 
    background-color: #282127;
}

#SlidebarButtonMods, #SlidebarButtonBot, #SlidebarButtonSettings, #SlidebarButtonChangelog {
    color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    font-family: Arial;
    font-size: 20px;
}

#SlidebarInfoBelow {
    color: #f2f2f2;
    position: fixed;
    bottom: -10;
    left: 5;
    line-height: 1.4;
    font-family: Arial;
    opacity: .3;
    font-size: smaller;
}
    
#SlidebarButtonModsText::before {
    content:"\f0ad \00a0 \00a0";
    font-family: "FontAwesome";
}

#SlidebarButtonBotText::before {
    content:"\f126 \00a0 \00a0";
    font-family: "FontAwesome";
}
    
#SlidebarButtonSettingsText::before {
    content:"\f013 \00a0 \00a0";
    font-family: "FontAwesome";
}
    
#SlidebarButtonChangelogText::before {
    content:"\f05a \00a0 \00a0";
    font-family: "FontAwesome";
}

#SlidebarDivLogo {
    position: relative;
    top: 5px;
}

#SlidebarLogo {
    width: 70px;
    position: relative;
    top: 15px;
    left: 3px;
}

#SlidebarLogoBlank {
    width: 65;
    position: absolute;
    top: 18px;
    left: 6px;

    animation: SlidebarLogoBlankAnim 10s linear 0s infinite;
}

#SlidebarLogoText {
    color: #f2f2f2;
    font-family: Uni Sans Heavy;
    position: relative;
    left: 77px;
    top: -43px;
}

@font-face {
    font-family: Uni Sans Heavy;
    src: url("../../splash/Uni_Sans_Heavy.otf") format("opentype");
}

@keyframes SlidebarLogoBlankAnim {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}