<div class="SlidebarSlideMenu">
    <div id="SlidebarDivLogo">
        <div>
            <img id="SlidebarLogo" src="../../splash/icon.png" draggable="false" onContextMenu="return false;">
            <img id="SlidebarLogoBlank" src="../../splash/icon_blank.png" draggable="false" onContextMenu="return false;">
        </div>
        <p id="SlidebarLogoText">DBM Network Client</p>
    </div>
    <div class="SlidebarSlideMenu_Button" id="SlidebarButtonMods" onclick="ButtonTabClick('#ModsWindow', 'Mods')">
        <p id="SlidebarButtonModsText">Mods</p>
    </div>
	<div class="SlidebarSlideMenu_Button" id="SlidebarButtonBot" onclick="ButtonTabClick('#BotWindow', 'Bot')">
        <p id="SlidebarButtonBotText">Bot</p>
    </div>
    <div class="SlidebarSlideMenu_Button" id="SlidebarButtonSettings" onclick="ButtonTabClick('#SettingsWindow', 'Settings')">
        <p id="SlidebarButtonSettingsText">Settings</p>
    </div>
    <div class="SlidebarSlideMenu_Button" id="SlidebarButtonChangelog" onclick="ButtonTabClick('#ChangelogWindow', 'Changelog')">
        <p id="SlidebarButtonChangelogText">Changelog</p>
    </div>
    <p id="SlidebarInfoBelow">© DBM Network<br><span id="SlidebarAppVersion"></span> <span id="SlidebarElectronUPStatus"></span></p>
</div>

<script src="../sidebar/sidebar.js"></script>

<style>
body {
    margin: 0;
}
</style>