<div class="SlidebarSlideMenu">
    <div id="SlidebarDivLogo">
        <div>
            <img id="SlidebarLogo" src="../../splash/icon.png" draggable="false" onContextMenu="return false;">
            <img id="SlidebarLogoBlank" src="../../splash/icon_blank.png" draggable="false" onContextMenu="return false;">
        </div>
        <p id="SlidebarLogoText">DBM Network Client</p>
    </div>
    <div class="SlidebarSlideMenu_Button" id="SlidebarButtonMods" onclick="ModsTabClick()">
        <p id="SlidebarButtonModsText">Mods</p>
    </div>
	<div class="SlidebarSlideMenu_Button" id="SlidebarButtonBot" onclick="BotTabClick()">
        <p id="SlidebarButtonBotText">Bot</p>
    </div>
    <div class="SlidebarSlideMenu_Button" id="SlidebarButtonSettings" onclick="SettingsTabClick()">
        <p id="SlidebarButtonSettingsText">Settings</p>
    </div>
    <div class="SlidebarSlideMenu_Button" id="SlidebarButtonChangelog" onclick="ChangelogTabClick()">
        <p id="SlidebarButtonChangelogText">Changelog</p>
    </div>
    <p id="SlidebarInfoBelow">© DBM Network<br><span id="SlidebarAppVersion"></span> <span id="SlidebarElectronUPStatus"></span></p>
</div>

<script src="../sidebar/sidebar.js"></script>

<style>
body {
    margin: 0;
}
</style>