<body oncontextmenu="return false;">
    <div id="background"></div>
    <p id="LogoText">DBM Network Client</p>
    <img id="logo"  src="./icon.png" draggable="false">
    <img id="logo_blank"  src="./icon_blank.png" draggable="false">
</body>

<script src="splash.js"></script>

<link rel="stylesheet" type="text/css" href="splash.css">